{% extends 'base.login.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="bg-secondary">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="logo d-flex justify-content-center">
                <img src="{{ asset('build/images/logo.png') }}" style="width: 200px;" alt=""/>
            </div>
            <h1 class="d-flex justify-content-center" style="padding-top: 30px; font-size: 20px">Please sign in</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
            </div>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Sign in
                </button>
            </div>
            <div class="text-center">
              <a href="{{ path('user_new') }}" >Create User</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
