<form method="post" action="{{ path('recipient_details_delete', {'id': recipientDetails.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipientDetails.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
