{% extends 'base.html.twig' %}

{% block body %}
    <title>Recipient details</title>
    <div class="text-center">
       <h1 class="display-4">Recipient details</h1>
    </div>
    <table class="table table-striped table-hover table-sm table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>City</th>
                <th>Street</th>
                <th>HouseNumber</th>
                <th>ApartmentNumber</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipientDetails in recipientDetailsList %}
            <tr>
                <td>{{ recipientDetails.id }}</td>
                <td>{{ recipientDetails.name }}</td>
                <td>{{ recipientDetails.surname }}</td>
                <td>{{ recipientDetails.city }}</td>
                <td>{{ recipientDetails.street }}</td>
                <td>{{ recipientDetails.houseNumber }}</td>
                <td>{{ recipientDetails.apartmentNumber }}</td>
                <td>{{ recipientDetails.phoneNumber }}</td>
                <td>{{ recipientDetails.email }}</td>
                <td>
                    <a href="{{ path('recipient_details_show', {'id': recipientDetails.id}) }}">show</a>
                    <a href="{{ path('recipient_details_edit', {'id': recipientDetails.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ path('recipient_details_new') }}">Create new</a>
    </div>
{% endblock %}
