{% extends 'base.html.twig' %}

{% block body %}

    <title>New recipient details</title>

    <h1>Create new recipient details</h1>

    <div class="container2">
        {{ include('recipient_details/_form.html.twig') }}
    </div>

    <a href="{{ path('recipient_details_index') }}">back to list</a>

{% endblock %}
