{% extends 'base.html.twig' %}

{% block body %}



<div class="text-center">
    <h1 class="display-4">Courier list</h1>
</div>
    <table class="table table-striped table-hover table-sm table-responsive-sm" style="margin-top:30px">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th>E-mail</th>
            <th>PhoneNumber</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for courier in couriers %}
            <tr>
                <td>{{ courier.id }}</td>
                <td>{{ courier.user.name }}</td>
                <td>{{ courier.user.surname }}</td>
                <td>{{ courier.user.role }}</td>
                <td>{{ courier.user.email }}</td>
                <td>{{ courier.user.phoneNumber }}</td>
                <td>
                    <a href="{{ path('courier_show', {'id': courier.id}) }}">show</a>
                    <a href="{{ path('courier_edit', {'id': courier.id}) }}">edit</a>
                </td>
            </tr>
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="new">
        <a style="display:flex; justify-content: center;" href="{{ path('courier_new') }}">Create new</a>
    </div>

{% endblock %}
