{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.number) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.number) }}
                {{ form_widget(form.number,{'attr':{'placeholder':'Enter Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.description) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description,{'attr':{'placeholder':'Enter Description'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right" style="padding-right: 9px">
                {{ form_label(form.headquarters) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left" style="padding-right: 10px">
                {{ form_errors(form.headquarters) }}
                {{ form_widget(form.headquarters) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.comments) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.comments) }}
                {{ form_widget(form.comments,{'attr':{'placeholder':'Enter Comments'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <p style="font-weight: bolder">Package:</p>
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.package.weight) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.package.weight) }}
                {{ form_widget(form.package.weight,{'attr':{'placeholder':'Enter Weight'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.package.height) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.package.height) }}
                {{ form_widget(form.package.height,{'attr':{'placeholder':'Enter Height'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.package.length) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.package.length) }}
                {{ form_widget(form.package.length,{'attr':{'placeholder':'Enter Length'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.package.width) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.package.width) }}
                {{ form_widget(form.package.width,{'attr':{'placeholder':'Enter Width'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <p class="font-weight-bold">Sender Details:</p>
    <div class="row">
                <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.name) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.name) }}
                {{ form_widget(form.senderDetails.name,{'attr':{'placeholder':'Enter Name'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.surname) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.surname) }}
                {{ form_widget(form.senderDetails.surname,{'attr':{'placeholder':'Enter Surname'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.city) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.city) }}
                {{ form_widget(form.senderDetails.city,{'attr':{'placeholder':'Enter City'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.street) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.street) }}
                {{ form_widget(form.senderDetails.street,{'attr':{'placeholder':'Enter Street'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.houseNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.houseNumber) }}
                {{ form_widget(form.senderDetails.houseNumber,{'attr':{'placeholder':'Enter House Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.apartmentNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.apartmentNumber) }}
                {{ form_widget(form.senderDetails.apartmentNumber,{'attr':{'placeholder':'Enter Apartment Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.phoneNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.phoneNumber) }}
                {{ form_widget(form.senderDetails.phoneNumber,{'attr':{'placeholder':'Enter Phone Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.senderDetails.email) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.email) }}
                {{ form_widget(form.senderDetails.email,{'attr':{'placeholder':'Enter E-mail'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right" style="padding-right: 20px">
                {{ form_label(form.senderDetails.district) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.senderDetails.district) }}
                {{ form_widget(form.senderDetails.district) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <p style="font-weight: bolder">Recipient Details:</p>
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.name) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.name) }}
                {{ form_widget(form.recipientDetails.name,{'attr':{'placeholder':'Enter Name'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.surname) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.surname) }}
                {{ form_widget(form.recipientDetails.surname,{'attr':{'placeholder':'Enter Surname'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.city) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.city) }}
                {{ form_widget(form.recipientDetails.city,{'attr':{'placeholder':'Enter City'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.street) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.street) }}
                {{ form_widget(form.recipientDetails.street,{'attr':{'placeholder':'Enter Street'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.houseNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.houseNumber) }}
                {{ form_widget(form.recipientDetails.houseNumber,{'attr':{'placeholder':'Enter House Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.apartmentNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.apartmentNumber) }}
                {{ form_widget(form.recipientDetails.apartmentNumber,{'attr':{'placeholder':'Enter Apartment Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.phoneNumber) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.phoneNumber) }}
                {{ form_widget(form.recipientDetails.phoneNumber,{'attr':{'placeholder':'Enter Phone Number'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right">
                {{ form_label(form.recipientDetails.email) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.email) }}
                {{ form_widget(form.recipientDetails.email,{'attr':{'placeholder':'Enter E-mail'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col">
            <div class="float-right" style="padding-right: 20px">
                {{ form_label(form.recipientDetails.district) }}
            </div>
        </div>
        <div class="col">
            <div class="float-left">
                {{ form_errors(form.recipientDetails.district) }}
                {{ form_widget(form.recipientDetails.district) }}
            </div>
        </div>
    </div>
</div>
<div class="text-center" style="margin-top: 20px">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
