{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .bg-secondary{
            border-radius: 10px;
            width:500px;
            height:350px;
        }
    </style>

    <div class="d-flex justify-content-center">
        <div class="bg-secondary">
            <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Edit status</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                {{ form_start(form) }}
{#                {{ form_widget(form) }}#}
                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col">
                            <div class="float-right">
                                {{ form_label(form.status) }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="float-left">
                                {{ form_errors(form.status) }}
                                {{ form_widget(form.status) }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn d-flex justify-content-center btn btn-primary" style="margin:0 185px; margin-top:20px">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
            <div class="d-flex flex-column" style ="padding-top: 10px">
                <a href="{{ path('user_order_index') }}" style="text-align: center">back to list</a>
            </div>


        </div>
    </div>
{% endblock %}