{% extends 'base.html.twig' %}

{% block body %}
    <h1>Headquarters</h1>

    {{ include('headquarters/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('headquarters_index') }}">back to list</a>

    {{ include('headquarters/_delete_form.html.twig') }}
{% endblock %}
