{% extends 'base.html.twig' %}

{% block body %}

    <h1>Create new Headquarters</h1>

    {{ include('headquarters/_form.html.twig') }}

    <a href="{{ path('headquarters_index') }}">back to list</a>
{% endblock %}
