{% extends 'base.html.twig' %}

{% block body %}

    <h1>Headquarters</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Street</th>
            <th>HouseNumber</th>
            <th>ApartmentNumber</th>
            <th>Voivodeship</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ headquarters.id }}</td>
                <td>{{ headquarters.name }}</td>
                <td>{{ headquarters.city }}</td>
                <td>{{ headquarters.street }}</td>
                <td>{{ headquarters.houseNumber }}</td>
                <td>{{ headquarters.apartmentNumber }}</td>
                <td>{{ headquarters.voivodeship }}</td>
                <td>{{ headquarters.phoneNumber }}</td>
                <td>{{ headquarters.email }}</td>
                <td>
                    <div class="d-flex justify-content-between">
                    <a href="{{ path('headquarters_index') }}">back to list</a>
                    <a href="{{ path('headquarters_edit', {'id': headquarters.id}) }}">edit</a>
                    {{ include('headquarters/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
