{% extends 'base.login.html.twig' %}

{#{% block title %}{% endblock %}#}
{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#{% endblock %}#}
{#{% block body %}#}
{#    <div class="d-flex justify-content-center">#}
{#        <h1>Error 400!!!!!!</h1>#}
{#    </div>#}
{#{% endblock %}#}
{#{% extends 'base.html.twig' %}#}


{% block body %}
    <h1>Page not found</h1>
    <p>
        An error has occurred, try again or contact your administrator.
    </p>
    <p>
        <a href="{{ path('user_index') }}">return to the homepage</a>.
    </p>
{% endblock %}