{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex justify-content-center">
    <div class="bg-secondary">
        <h1 class="display-4 d-flex justify-content-center" style="padding-top: 30px">Edit User</h1>
            <div class="d-flex justify-content-center" style ="padding-top: 30px">
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        <div class="d-flex flex-column">
            <a href="{{ path('user_index') }}" style="text-align: center; padding-top: 10px">back to list</a>
           {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
