{% extends 'base.html.twig' %}

{% block body %}
    <style>

    </style>

    <div class="text-center">
        <h1 class="display-4">User show</h1>
    </div>
    <table class="table table-striped table-hover table-sm table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Role</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <div class="d-flex justify-content-between">
                    <a href="{{ path('user_index') }}">back to list</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    {{ include('user/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
